<h2>Edit <%= resource_name.to_s.humanize %></h2>
</br>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group">
      <%= f.label :email, 'Email *' %><br />
      <%= f.text_field :email, required: true, class:"form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", placeholder: "Leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <div class="form-group">
      <%= f.label :current_password, 'Current password *' %><br />
      <%= f.password_field :current_password, placeholder: "We need your current password to confirm your changes", required: true, class:"form-control" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
  </br>
<% end %>
* required
</br></br>
<%= link_to "Back", :back %>
