<%= devise_error_messages! %>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
    <h1 class="page-title">
      Sign up as
      <% if params[:teacher].nil? %>
          Student
      <% else %>
          Teacher
      <% end %>
    </h1>
    <hr/>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= f.label :name %> <br />
          <%= f.text_field :name, class:"form-control", placeholder: "Displayed name (min. 4, max. 12)" %>
        </div>

        <div class="form-group">
          <% if params[:teacher].nil? %>
            <%= f.hidden_field :type, value: 'Student' %>
          <% else %>
            <%= f.hidden_field :type, value: 'Teacher' %>
            <% #= f.select :type, options_for_select([['Teacher'], ['Student']]) %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control" %>
        </div>

        <div class="actions">
          <div class="pull-right">
            <%= f.submit "Sign up",class:"btn btn-primary" %>
          </div>
          <div class="pull-left">
            <%= render "devise/shared/links" %>

            <!-- % if $new_user_role.nil? || $new_user_role == 'Teacher' % -->
                <% #=link_to "Sign up (student)", student_sign_up %>
            <!-- % else %-- >
                <!-- % #=link_to "Sign up (teacher)", teacher_sign_up % -->
            <!-- % end % -->

          </div>

        </div>
    <% end %>


  </div>
</div>