<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="question">
      <div class="jumbotron">
        <h1>Overview Page</h1>
      </div>
      <div><h2>Quizzes</h2></div>
      <ul class="question-info">
        <ul class="courses">
          <%= link_to 'Add Course', new_teacher_course_path, class: 'btn btn-sm btn-default margin-left' %>
          <hr>
          <% if @courses.present? %>
            <%= if @courses.present? then render 'courses_list' end %>
          <% end %>
        </ul>
      </ul>
    </div>
  </div>
</div>

