<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="question">
      <div class="jumbotron">
        <h1>Create new quiz</h1>
      </div>
      <%= simple_form_for Quiz.new do |f| %>
      <ul class="question-info">
        <ul class="courses">
          </br>
          <div class="form-group">
            <%= f.hidden_field :course_id, value: params[:course_id] %>
          </div>
          <%= render 'form', :f => f %>
          </br>
        </ul>
      </ul>
      <div class='question-next-button'>
        <%= link_to 'Back', teacher_home_path, class: 'btn btn-primary btn-lg' %>
        <%= f.button :submit, 'Create Quiz', :class => 'btn btn-primary btn-lg' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
