<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="question">
      <div class="jumbotron">
        <h1>Create new course</h1>
      </div>
      <%= simple_form_for Course.new do |f| %>
          <ul class="question-info">
            <ul class="courses">
              </br>
              <div class="form-group">
                <%= f.hidden_field :teacher_id, required: true, class:"form-control", value: current_user.id %>
              </div>
              <div class="form-group">
                <%= f.label :title, 'Course Title' %><br />
                <%= f.text_field :title, required: true, placeholder: 'Enter the course title here', class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :title, 'Semester' %><br />
                <%= f.select :semester, options_for_select([['SS18'], ['WS18'], ['SS19']]), class:"form-control" %>
              </div>
              </br>
            </ul>
          </ul>
          <div class='question-next-button'>
            <%= link_to 'Back', teacher_home_path, :class => 'btn btn-primary btn-lg' %>
            <%= f.button :submit, 'Create Course', :class => 'btn btn-primary btn-lg' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
