<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="question">
      <div class="jumbotron">
        <h1>Quiz: <%= @quiz.title %></h1>
        <p>Go to: <code class="dont-break-out">http://gamertests.entertain.univie.ac.at</code><br/><br/>
          Sign up, login and input this access code to participate:
          <code><%= @quiz_session.access_key %></code></p>
      </div>
      <ul class="question-info">
        <li>
          <span class="badge"><%= @quiz.questions.length %></span> questions</li>
        <li><span class="badge" id="students_counter">0</span> participants connected</li>
      </ul>
      <div class="question-next-button" data-no-turbolink>
        <%= link_to 'Start Quiz!', {:controller => :pages, :action => :show_question}, :class => 'btn btn-primary btn-lg', :id => 'start_quiz_button' %>
      </div>
    </div>
  </div>
</div>