<div class="user-layout">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="question">
        <div class="jumbotron">
          <span class="question-index"><%= @quiz_session.current_question_index+1 %></span>
          <h2><%= @quiz_session.current_question.title%></h2>

        </div>
        <ul class="question-info">
          <%=
            height = current_user.quiz_session.calc_chart_height
            #bar_chart GivenAnswer.where(quiz_session_id: @quiz_session.id, question_id: @quiz_session.current_question.id).group(:answer).count,
            data = current_user.quiz_session.parse_given_answers
            colorArray = current_user.quiz_session.calculate_colors
            bar_chart data,
                        min:0, max: height, width: '100%', colors: colorArray,
                        library: {
                            legend: { position: 'none' },
                            #height: 1000,
                            vAxis: {
                                format: '#',
                                textPosition: 'in',
                                textStyle: {
                                    italic: false,
                                    fontSize: 15
                                }
                            },
                            chartArea: {
                                left: '10%'
                                #height: 150,
                            },
                            bar: {
                                groupWidth: '100%'
                            }
                        }
          %>
          <li><span class="badge"><%= current_user.quiz_session.calc_correct_answer %></span> is correct.</li>
          <li><span class="badge"><%= current_user.quiz_session.calc_correct_answer_count %></span>
            of <span class="badge"><%= current_user.quiz_session.calc_given_answer_count%></span>
            (<%= current_user.quiz_session.calc_answer_percent %>%) Students answered correctly.</br>
          <% if current_user.quiz_session.calc_no_answer_given_count > 0 %>
            <span class="badge"><%= current_user.quiz_session.calc_no_answer_given_count %></span>
            of  <span class="badge"><%= current_user.quiz_session.calc_given_answer_count%></span>
            (<%= current_user.quiz_session.calc_no_answer_given_percent %>%) connected Students did not answer.
          <% end %>
          </li>
        </ul></br>
        <div class="question-next-button">
          <%= link_to 'Next', {:controller => :pages, :action => :show_question}, :class => 'btn btn-primary btn-lg', :id => 'next_quiz_button' %>
        </div>
      </div>
    </div>
  </div>
</div>