<div class="user-layout">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="question">
        <div class="jumbotron">
          <span class="question-index"><%= @quiz_session.current_question_index+1 %></span>
          <h2><%= @quiz_session.current_question.title%></h2>
        </div>
        <ul class="question-info">
          <li></li>
          <li><span class="badge" id="given_answers_counter">0</span> of <span class="badge" id="students_counter">0</span> participants answered so far.</li>
        </ul>
        <div class="question-next-button">
          <%= link_to 'Next', {:controller => :pages, :action => :show_question_result}, :class => 'btn btn-primary btn-lg', :id => 'question_result_button' %>
        </div>
      </div>
    </div>
  </div>
</div>