<div class="user-layout">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="question">
        <div class="jumbotron">
          <span class="question-index"><span class="glyphicon glyphicon-star"></span></span>
          <h2>Quiz Result</h2>
        </div>
        <ul class="question-info">
          <%=
            bar_chart current_user.quiz_session.quiz_result_data,
                      min: 0.0, max: 100.0, colors: [ '#94bace'],
                      library: {
                          vAxis: {
                              format: '#',
                              textPosition: 'in',
                              textStyle: {
                                  italic: false,
                                  fontSize: 15
                              }
                          },
                          hAxis: {
                              ticks: [
                              {v:100,f:'100%'},
                              {v:75,f:'75%'},
                              {v:50,f:'50%'},
                              {v:25,f:'25%'},
                              {v:0,f:'0%'}]
                          },
                          chartArea: {
                              left: '10%'
                          }
                      }
          %>
          <% if current_user.quiz_session.calc_answer_percent_of(current_user.quiz_session.calc_most_diff_question.id) < 75 %>
            <li>Most difficult question: <%= current_user.quiz_session.calc_most_diff_question.title %></li>
          <% end %>
          <li>Top 3 students (based on correct answers and time):</li>
          <% current_user.quiz_session.calc_top_three.each_with_index do |user_info,index| %>
              <li>
                <%= (index+1).to_s + '. ' + user_info[0] + ' (' + user_info[1].to_s + ' correct answers)' %>
              </li>
          <% end %>
          <li></li>
        </ul>
        <div class="question-next-button">
          <%= link_to 'End Quiz', {:controller => :pages, :action => :end_quiz_teacher }, :class => 'btn btn-primary btn-lg', :id => 'end_quiz_button' %>
        </div>
      </div>
    </div>
  </div>
</div>