<%= simple_form_for(@given_answer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :student %>
    <%= f.association :quiz_session %>
    <%= f.association :question %>
    <%= f.input :answer %>
    <%= f.input :correct %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
