<p id="notice"><%= notice %></p>

<h1>Given Answers</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Quiz session</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Correct</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @given_answers.each do |given_answer| %>
      <tr>
        <td><%= given_answer.student %></td>
        <td><%= given_answer.quiz_session %></td>
        <td><%= given_answer.question %></td>
        <td><%= given_answer.answer %></td>
        <td><%= given_answer.correct %></td>
        <td><%= link_to 'Show', given_answer %></td>
        <td><%= link_to 'Edit', edit_given_answer_path(given_answer) %></td>
        <td><%= link_to 'Destroy', given_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Given Answer', new_given_answer_path %>
