<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @given_answer.student %>
</p>

<p>
  <strong>Quiz session:</strong>
  <%= @given_answer.quiz_session %>
</p>

<p>
  <strong>Question:</strong>
  <%= @given_answer.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @given_answer.answer %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @given_answer.correct %>
</p>

<%= link_to 'Edit', edit_given_answer_path(@given_answer) %> |
<%= link_to 'Back', given_answers_path %>
