<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="question">
      <div class="jumbotron">
        <h1>403 Forbidden</h1>
        <h2>Hey, you. Yes, you! You are not allowed here. Scram!</h2>
      </div>
    </div>
  </div>
</div>