<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="question">
      <div class="jumbotron">
        <h1>Error 404</h1>
        <h2>You are sad. I am sad. We are all sad.</h2>
      </div>
    </div>
  </div>
</div>