<div class="panel panel-default nested-fields answer-container">
  <div class="panel-body">
    <div class="form-group">
      <%= f.label :title, 'Answer' %><br />
      <%= f.text_field :title, required: true, placeholder: 'Enter answer here', class:'form-control' %>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box :correct %>
        <%= f.label :correct %>
      </label>
    </div>
    <p>
      <%= link_to_remove_association raw('<i class="fa fa-trash"></i> Remove answer'), f, :class => 'btn btn-sm btn-default' %>
    </p>
  </div>
</div>