<% @courses.each do |course| %>
    <table>
      <thead>
        <tr>
          <th><h3><%= course.title %> (<%=course.semester%>) -&nbsp;</h3></th>
          <th></th>
          <th colspan="3" class="custom-font-20"><h3><%= link_to 'Add Quiz', new_teacher_quiz_path(:course_id => course.id) %></h3></th>
        </tr>
      </thead>
      <tbody>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <% course.quizzes.each do |quiz| %>
          <tr>
            <td class="custom-font-20"><p><%= quiz.title %></p></td>
            <td>&nbsp;&nbsp;</td>
            <% if current_user.quiz_session.present? %>
              <% if quiz.id == QuizSession.find(current_user.quiz_session.id).quiz_id  %>
                <div><td class="custom-font-20"><%= link_to 'Continue', page: 'quiz_start', :quiz => quiz.id %></td></div>
                <div><td class="custom-font-20">&nbsp;|&nbsp;</td></div>
                <div><td class="custom-font-20"><%= link_to raw('<i class="fa fa-times">'), end_quiz_teacher_path %></td></div>
              <% else %>
                <div><td></td></div>
              <% end %>
            <% else %>
                <div><td class="custom-font-20"><%= link_to 'Start Quiz', page: 'quiz_start', :quiz => quiz.id %></td></div>
                <div><td class="custom-font-20">&nbsp;|&nbsp;</td></div>
                <div><td class="custom-font-20"><%= link_to raw('<i class="fa fa-trash">'), teacher_delete_quiz_path(:id => quiz.id), :data => { :confirm => 'Are you sure you want to delete this quiz?' } %></td></div>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>