<div class="form-group">
  <%= f.label :title, 'Quiz Title' %><br />
  <%= f.text_field :title, required: true, placeholder: 'Enter the quiz title here', class:"form-control" %>
</div>

<%= f.fields_for :questions do |question| %>
    <%= render 'question_fields', :f => question %>
<% end %>

<p>
  <%= link_to_add_association raw('<i class="fa fa-plus"></i> Add a question'), f,
                              :questions, :class => 'btn btn-sm btn-default',
                              :partial => 'question_fields' %>
</p>