<div class="panel panel-default nested-fields question-container">
  <div class="panel-body">
    <div class="form-group">
      <%= f.label :title, 'Question' %><br />
      <%= f.text_field :title, required: true, placeholder: 'Enter the question here', class: 'form-control' %>
    </div>
    <br />
    <%= f.fields_for :answers do |answer| %>
        <%= render 'answer_fields', :f => answer %>
    <% end %>
    <p>
      <%= link_to_add_association raw('<i class="fa fa-plus"></i> Add an answer'), f,
                                :answers, :class => 'btn btn-sm btn-default',
                                :partial => 'answer_fields' %>
      <%= link_to_remove_association raw('<i class="fa fa-trash"></i> Remove question'), f, :class => 'btn btn-sm btn-default' %>
    </p>
  </div>
</div>