<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="question">
      <div class="jumbotron">
        <table>
          <tr>
            <td style="width:100%">
              <h1>Lective</h1>
              <h2>Welcome to Lective</h2>
              <br/>
              <ul>
                <p>
                <li>
                  <% if request.fullpath != '/sign_up'  %>
                      <%= link_to "Sign up", new_user_registration_path %>
                  <% end %>
                </li>
                <li>
                  <% if request.fullpath != '/login' %>
                      <%= link_to "Log in", new_user_session_path %>
                  <% end %>
                </li>
                </p>
              </ul>
            </td>
            <td align="right">
              <%= image_tag("hipster2x.png", :size => "300", :alt => "welcome image")%>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

