<div class="student-layout">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="question">
        <div class="jumbotron">
          <h2><!-- @quiz_session.current_question_index -->1. Question</h2>
        </div>
        <div class="question-answers btn-group-vertical" role="group" id="answer-buttons">
          <!-- #append action cable received answer buttons here -->
        </div>
      </div>
    </div>
  </div>
</div>