<% if current_user.quiz_session.present? %>
  <h2>Quiz: <%= current_user.quiz_session.quiz.title %></h2>
    <%= link_to 'Reconnect', student_start_quiz_path, :class => 'custom-font-20', :id => 'reconnect_student_button' %>
<% else %>
  <h2>Join Quiz</h2>
  <%= form_tag student_start_quiz_path, :method => 'get' do %>
    <p>
      Enter Access Key: </br>
      <%= text_field_tag :access_key, params[:access_key] %>
      <%= submit_tag 'Go', :name => nil %>
    </p>
  <% end %>
<% end %>
