<div class="page-content-wrapper container-fluid">

  <div class="row-fluid">
    <div class="col-md-12">
      <h2> Quiz: <%= @quiz.title %></h2>
      <div>
        <%= @quiz.questions.length %> Questions <br/>
      </div>
      <div>
        <p>
          </br>
          </br>
          Quiz will start soon.
        </p>
      </div>
      <div>
        <span class="badge" id="students_counter">0</span> participants connected.
      </div>
      <div>
        </br>
        <div>
          <%= link_to 'Leave Quiz', end_quiz_student_path, class: 'btn btn-sm btn-default', style: 'float: right' %>
        </div>
      </div>
    </div>
  </div>
</div>