
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">

    <h1 class="page-title">
      Log in
    </h1>
    <hr/>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true,class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off",class:"form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <label>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </label>
            </div>
        <% end -%>

        <div class="actions">
          <div class="pull-right">
            <%= f.submit 'Log in', class:'btn btn-primary' %>
          </div>
          <div class="pull-left">
            <%= render 'devise/shared/links' %>
          </div>
        </div>
    <% end %>
  </div>
</div>