/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table thead th {
  border-bottom: 1px solid #d3d3d3;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul#login-link-list{
  li{
    margin-right:10px;
    padding:10px 0px;
    display:inline-block;
  }
}

#error_explanation{
  h2{
    display:none;
  }
}

.panel-body{
  margin-left:10px;
  margin-right:10px;
}

.question{
  position:relative;
  .jumbotron{
    margin-bottom:0;
  }
  ul.question-info{
    border-left:3px solid #eeeeee;
    border-bottom:3px solid #eeeeee;
    margin-left:50px;
    margin-bottom:0px;
    border-radius:0px 0px 0px 6px;
    li{
      position:relative;
      line-height: 30px;
      font-size:25px;
      margin-left:50px;
      padding:20px 0px;
      .badge{
        font-size:20px;
        padding:3px 10px;
        border-radius:50%;
      }
    }
  }
  .question-next-button{
    position:absolute;
    right:0px;
    bottom:-24px;

    a {
      color: white;
    }
    a:visited {
      color: white;
    }
    a:hover {
      color: white;
    }
    a:focus {
      color: white;
    }
    a:active {
      color: white;
    }
  }
  .question-index{
    width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    background:lightblue;
    color:darkblue;
    font-size:40px;
    border-radius:50%;
    position:absolute;
    left:-50px;
    top:-50px;
    display:inline-block;
  }
}
.user-layout{
  .question{
    margin-top:40px;
  }
}
.student-layout{
  .question-answers{
    margin:10px 0px;
    display:block;
    a,button,submit{
      width:100%;
      display:block;
      text-align:center;
    }
  }
}
.courses{
  margin: 0px 10px 20px 50px;
}
.margin-left{
  margin-left: 20px;
}
.custom-font-20{
  font-size:20px;
}
.custom-font-15{
  font-size:14px;
}
.custom-title{
  font-size:25px;
  font-weight: bold;
}
.custom-button{
  position:relative;
  right:0px;
  bottom:10px;

  a {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
  }
  a:focus {
    color: white;
  }
  a:active {
    color: white;
  }
}

.dont-break-out {
  /* Source: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/*/

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

@import "bootstrap-sprockets";
@import "bootstrap";