<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lective</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button id="navbutton" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag("lightbulb.png", :size => "40", :alt => "lective logo lightbulb"), '/', :style => "margin: -12px -10px 7px -5px", :class => "navbar-brand" %>
            <a href="/" class="navbar-brand" style="font-size: 24px">Lective</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <!-- status -->
            <ul class="nav navbar-nav navbar-right">
              <% if signed_in? %>
                  <li>
                    <% if current_user.type === 'Teacher' && current_user.quiz_session.present? %>
                      <% cancel_button_title = 'Cancel active quiz: ' +
                          current_user.quiz_session.quiz.title %>
                      <%= link_to cancel_button_title, end_quiz_teacher_path %>
                    <% end %>
                  </li>
                  <li>
                    <a>Signed in as
                      <% if current_user.name.present? %>
                          <%= current_user.name %>
                      <% else %>
                          <%= current_user.email %>
                      <% end %>
                    </a>
                  </li>
                  <li><%= link_to "Change your password", edit_user_registration_path %></li>
                  <li>
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                  </li>
              <% else %>
                  <li>
                    <a>Not signed in</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <% if request.fullpath != '/sign_up'  %>
                        <%= link_to "Sign up?", new_user_registration_path %>
                    <% end %>
                  </li>
                  <li>
                    <% if request.fullpath != '/login' %>
                        <%= link_to "Log in?", new_user_session_path %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- alert/notice/error begin -->
      <% flash.each do |name, msg| %>
          <% if name == "notice" %>
              <div class="alert alert-success">
          <% elsif name == "alert" %>
              <div class="alert alert-danger">
          <% else %>
              <div class='alert alert-<%= "#{name}" %>'>
          <% end %>
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <ul>
            <li>
              <% if msg.class == Array %>
                  <% msg.each do |message| %>
                      <%= content_tag :div, message, :id => "flash_#{name}" %>
                  <% end %>
              <% else %>
                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
              <% end %>
            </li>
          </ul>
          </div>
      <% end %>
      <!-- alert/notice/error end -->

      <%= yield %>
    </div></div></div>

    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        $(document).on('click', function () {
            $('#navbar').collapse('hide');
        })
      })
    </script>
  </body>
</html>
